@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    /* Fontes */
    --font-family: "Poppins", sans-serif;
    --font-family2: "Inter", sans-serif;

    /* Backgrounds */
    --bg1: #946D6D;
    --bg2: #946D6D;
    --bg3: #946D6D;
    --bg4: #946D6D;
    --bg5: #946D6D;

    /* Gradientes */
    --bggradientetop:
        radial-gradient(circle at top left, #1F150C 0%, transparent 35%),
        linear-gradient(to bottom, #452829, #452829);

    --bggradientebottom:
        radial-gradient(circle at top right, #452829 0%, transparent 25%),
        radial-gradient(circle at bottom left, #452829 0%, transparent 30%),
        linear-gradient(to bottom, #452829, #ffff);

    /* Cores principais */
    --color1: #ffffff;
    --color2: #1e293b;
    --color3: #e5e7eb;
    --color4: #ffffff;

    /* Cores extras */
    --color5: #ffff;
    --color6: #ffffff;
    --border-color: #ffff;
}